:root {
    --dark-bg: #061518;
    --card-bg: #08252A;
    --text-color: #B0FAFF;
    --button-color: #B0FAFF;
  }
  
  .about-page {
    background-color: var(--dark-bg);
    color: var(--text-color);
    font-family: 'Space Grotesk', Arial, sans-serif;
    margin: 0;
    padding: 72px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-container {
   
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  
  .about-title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 16px;
    line-height: 1.5;
    max-width: 700px;
    margin: 0 auto 30px;
    opacity: 0.7;
  }
  
  .about-button {
   
    padding: 10px 20px;
    border-radius: 20px;
    background: #CDFCFF;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: 
    0px 0px 1px 1px #4CDDFD inset,
    0px 1px 1px 0px #4CDDFD inset,
    0px 0px 4px 2px #FFFFFF1F inset,
    0px -8px 16px -4px #37C5E599 inset,
    0px 6px 20px 0px #37C5E51F,
    0px 4px 12px 0px #37C5E51F,
    0px 4px 6px 0px #37C5E51F,
    0px 1px 4px 0px #37C5E51F;

  }
  
  .about-button:hover {
    transform: scale(1.05);
  }
  
  .feature-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  
  .video {
    max-width:25%;

    height: 70%;
    min-height: 400px;
    border-radius: 10px;
  }
  
  .about-features {
    background-color: var(--card-bg);
    border-radius: 20px;
    padding: 48px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    position: relative;
    overflow: hidden;
    max-width: 800px;
    height: 400px;
  }
  
  .about-feature {
    text-align: left;
    width: 270px;
  }
  
  .icon {
    height: 30px;
    width: 30px;
  }
  
  .about-feature-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .about-feature-description {
    font-size: 14px;
    opacity: 0.7;
    line-height: 1.4;
  }
  
  @media (max-width: 768px) {
    .about-features {
      grid-template-columns: 1fr;
    }
    
    .feature-section {
      flex-direction: column;
    }
    
    .video {
      margin-bottom: 20px;
    }
  }